<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p><h3>Just some Node.js and JQuery learnings!</h3></p>
    <br /><br />
    <a href="hide" class="btn btn-info" role="button">Test hiding of clicked paragraph tags</a>
    <br /><br />
    <a href="hidespecific" class="btn btn-info" role="button">Test hiding of specific paragraph tag</a>
    <br /><br />
    <a href="clientfib" class="btn btn-info" role="button">Client-side calculation of nth fibonacci number</a>
    <br /><br />
    <a href="serverfib" class="btn btn-info" role="button">Server-side calculation of nth fibonacci number</a>
</body>
</html>